.edit-form{
	mind-width: 150px;
	width: 100%;
}

.field-full-width{
	width: 100%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}