table{
	width:100%;
}

.mat-column-right{
	text-align: center;
}

.example-card {
  max-width: 20%;
}

.mat-card {
   
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}