<mat-toolbar color="primary">
<mat-toolbar-row>
<span>Angular Marketplace</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
 </mat-toolbar-row>
</mat-toolbar>
<div class="main-div">
<mat-card class="card-field-full-width" >
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form [formGroup] = "registerForm" class="edit-form">
    <mat-card-content>
        <mat-form-field class = "field-full-width marg-left">
          <input matInput placeholder="Username" formControlName="username" #username>
        </mat-form-field> <br>
        <mat-form-field class = "field-full-width marg-left">
          <input type="password" matInput placeholder="Password" formControlName="password" #password>
        </mat-form-field> <br>
        <mat-form-field class = "field-full-width marg-left">
          <input matInput placeholder="Initial Balance of Account" formControlName="balance" #balance>
        </mat-form-field> <br>
    </mat-card-content>
    <mat-card-actions>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<button mat-raised-button color="accent" (click)="backToLogin()">BACK</button> &nbsp;
      	<button type="submit" (click)="registerUser(username.value, password.value, balance.value)" mat-raised-button color="primary">SUBMIT</button>
    </mat-card-actions>
  </form>
</mat-card>

</div>